.language {
  position: relative;
  left: 0;
  bottom: 0;
  right: 0;
  float: right;
  margin: 5px;
  color: black;
}

.header {
  text-align: center;
  width: 509px;
  height: 216px;
  margin: 0 auto;
}

.intro h2 {
  text-align: center;
}
